@page "/actors/create"
@using HexDataMovies.Client.Pages.Components
@inject IServiceMovie movie
@inject NavigationManager navigationManager

<div class="jumbotron">
    <FormActorComponent OnValidSubmit="Create" Actor="Actor"></FormActorComponent>
</div>

@code{
    private Actor Actor = new Actor();
    async Task Create()
    {
        Console.WriteLine(Actor.Name);
        Console.WriteLine(Actor.BirthDate);
        Console.WriteLine(Actor.KnownCredits);
        Console.WriteLine(Actor.Nominations);
        Console.WriteLine(Actor.Biography);
        Console.WriteLine(Actor.Gender);
        Console.WriteLine(Actor.DocumentType);
        Console.WriteLine(Actor.Document);
        Console.WriteLine(Actor.Photo);

        @* var httpResponse = await movie.Post("api/actors", Actor);
        if (httpResponse.Error)
        {
            await mostrarMensajes.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo("/actors");
        } *@
    }
}