@page "/anterior"
@using HexDataMovies.Client.Pages.Components

@inject IServiceMovie movie
<div class="jumbotron">
    <CardMovieComponent Movies = "Movies"></CardMovieComponent>
</div>
@code{
    private List<Movie> Movies;
    protected override void OnInitialized(){
        Movies = movie.GetMovies();
    }
}