@page "/movies/create"
@using HexDataMovies.Client.Pages.Components
@inject IServiceMovie repositorio
@inject IErrorMessage showMessage
@inject NavigationManager navigationManager

@if (ShowMoviesForm)
{
    <FormMovie Movie="Movie" OnValidSubmit="Create" NotSelectedFilmGenres="NotSelectedFilmGenres"></FormMovie>
}
else
{
    <div class="alert alert-info" role="alert">Cargando</div>
}
@*<div class="jumbotron">
    <div class="form-group mb-3">
        <button class="btn btn-info" @onclick="Create">Crear Película</button>
    </div>
</div>*@ @* Eso es lo que estaba en el documento de drive, en el pdf es así:*@
@* <h6>Crear Película</h6>
<button @onclick="Create">Crear Película</button> *@

@code{
    private Movie Movie = new Movie();
    private List<FilmGenre> NotSelectedFilmGenres = new List<FilmGenre>();
    @* No se cargaran las peliculas si no existen categorías en el sistema *@
    private bool ShowMoviesForm {get;set;} = false;
    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await repositorio.Get<List<FilmGenre>>("api/filmgenres");
        NotSelectedFilmGenres = responseHttp.Response;
        ShowMoviesForm = true;
    }
    
    async Task Create()
    {
        var httpResponse = await repositorio.Post<Movie,int>("api/movies", Movie);
        if (httpResponse.Error)
        {
            var body = await httpResponse.GetBody();
            await showMessage.ShowErrorMessage(body);
            Console.WriteLine(body);
        }
        else
        {
            var MovieId = httpResponse.Response;
            navigationManager.NavigateTo($"/movie/{MovieId}/{Movie.Title.Replace(" ","-")}");
        } 
    }


    @*void Create() //Esto es para ver que si cree esos datos y los mande por consola, una prueba
    {
        // Con navigationManager se redirecciona al usuario a otras rutas dentro del sistema

        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("movie");
        Console.WriteLine($"Película: {Movie.Title}");
        Console.WriteLine($"Premier: {Movie.Premier}");
        Console.WriteLine($"Está en Cartelera: {Movie.EnCartelera}");
        Console.WriteLine($"Poster: {Movie.Poster}");
        Console.WriteLine($"Sinopsis: {Movie.Sinopsis}");
    }*@
}