@page "/movies/create"
@using HexDataMovies.Client.Pages.Components
@inject IServiceMovie repositorio
@inject IErrorMessage showMessage
@inject NavigationManager navigationManager

<FormMovie Movie="Movie" OnValidSubmit="Create" NotSelectedFilmGenres="NotSelectedFilmGenres"></FormMovie>
@*<div class="jumbotron">
    <div class="form-group mb-3">
        <button class="btn btn-info" @onclick="Create">Crear Película</button>
    </div>
</div>*@ @* Eso es lo que estaba en el documento de drive, en el pdf es así:*@
@* <h6>Crear Película</h6>
<button @onclick="Create">Crear Película</button> *@

@code{
    private Movie Movie = new Movie();
    private List<FilmGenre> NotSelectedFilmGenres = new List<FilmGenre>();
    
    protected override void OnInitialized()
    {
        NotSelectedFilmGenres = new List<FilmGenre>()
            {
                new FilmGenre(){Id = 1, Name = "Ciencia Ficción"},
                new FilmGenre(){Id = 2, Name = "Anime"},
                new FilmGenre(){Id = 3, Name = "Comedia"},
                new FilmGenre(){Id = 4, Name = "Aventura"},
                new FilmGenre(){Id = 5, Name = "Drama"},
                new FilmGenre(){Id = 6, Name = "Acción"},
                new FilmGenre(){Id = 7, Name = "Animación"},
                new FilmGenre(){Id = 8, Name = "Documental"},
                new FilmGenre(){Id = 9, Name = "Terror"},
                new FilmGenre(){Id = 10, Name = "Fantasía"},
                new FilmGenre(){Id = 11, Name = "Romance"}
            };
    }
    
    async Task Create()
    {
        var httpResponse = await repositorio.Post<Movie,int>("api/movies", Movie);
        if (httpResponse.Error)
        {
            var body = await httpResponse.GetBody();
            await showMessage.ShowErrorMessage(body);
            Console.WriteLine(body);
        }
        else
        {
            var MovieId = httpResponse.Response;
            navigationManager.NavigateTo($"/movie/{MovieId}/{Movie.Title.Replace(" ","-")}");
        } 
    }


    @*void Create() //Esto es para ver que si cree esos datos y los mande por consola, una prueba
    {
        // Con navigationManager se redirecciona al usuario a otras rutas dentro del sistema

        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("movie");
        Console.WriteLine($"Película: {Movie.Title}");
        Console.WriteLine($"Premier: {Movie.Premier}");
        Console.WriteLine($"Está en Cartelera: {Movie.EnCartelera}");
        Console.WriteLine($"Poster: {Movie.Poster}");
        Console.WriteLine($"Sinopsis: {Movie.Sinopsis}");
    }*@
}