@page "/movie/{MovieId:int}"
@page "/movie/{MovieId:int}/{MovieName}"
@using HexDataMovies.Client.Pages.Components
@inject IServiceMovie repositorio
@inject IErrorMessage showMessage
@inject NavigationManager NavigationManager

<h6>Ver Película</h6>

@code{
    [Parameter] public int MovieId {get;set;}
    [Parameter] public string MovieName {get;set;}
    @* protected override void OnInitialized(){
        Console.WriteLine($"El id de la película es {MovieId} y el nombre {Name}");
    } *@
}