@page "/filmgenres/create"
<div class="jumbotron">
    <EditForm Model="FilmGenre" OnSubmit="Create">
        <div class="form-group mb-3">
            <label class="form-label mb-3">Categoría</label>
            <div class="mb-3">
                <InputText class="form-control" @bind-Value=@FilmGenre.Name></InputText>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit">Crear</button>
            </div>
        </div>
    </EditForm>
</div>
@code{
    private FilmGenre FilmGenre = new FilmGenre();
    private void Create()
    {
        Console.WriteLine($"Nombre de la categoría de películas {FilmGenre.Name}");
    }
}