@page "/filmgenres/create"
@using HexDataMovies.Client.Pages.Components
@inject IServiceMovie movie
@inject NavigationManager navigationManager

<div class="jumbotron">
    <FormFilmGenreComponent OnValidSubmit="Create" FilmGenre="FilmGenre"></FormFilmGenreComponent>
</div>

@code{
    private FilmGenre FilmGenre = new FilmGenre();
    private async void Create()
    {
        var httpResponse = await movie.Post("api/filmgenres", FilmGenre);
        if (httpResponse.Error)
        {
            var body = await httpResponse.HttpResponseMessage.Content.ReadAsStringAsync();
            Console.WriteLine(body);
        }else{
            navigationManager.NavigateTo("/filmgenres");
        }
        Console.WriteLine($"Creando la Categoría de Películas {FilmGenre.Name}");
    }
}