@page "/filmgenres/create"
@using HexDataMovies.Client.Pages.Components

<div class="jumbotron">
    <FormFilmGenreComponent OnValidSubmit="Create" FilmGenre="FilmGenre"></FormFilmGenreComponent>
</div>

@code{
    private FilmGenre FilmGenre = new FilmGenre();
    private void Create()
    {
        Console.WriteLine($"Nombre de la categoría de películas {FilmGenre.Name}");
    }
}