@page "/filmgenres/edit/{Id:int}"
@using HexDataMovies.Client.Pages.Components

<div class="jumbotron">
    <FormFilmGenreComponent OnValidSubmit="Edit" FilmGenre="FilmGenre"></FormFilmGenreComponent>
</div>

@code{
    private FilmGenre FilmGenre;
    [Parameter]public int Id {get;set;}
    protected override void OnInitialized(){
        FilmGenre = new FilmGenre(){
            Id = Id,
            Name = "Comedia"
        };
    }
    private void Edit()
    {
        Console.WriteLine($"Id {FilmGenre.Id}");
        Console.WriteLine($"Nombre {FilmGenre.Name}");
    }
}