@page "/filmgenres"
<div class="jumbotron">
    <div class="form-group">
        <a href="filmgenres/create" class="btn btn-info">Crear</a>
        <a href="filmgenres/edit/{Id:int}" class="btn btn-alert">Editar</a>
    </div>
</div>

@code{
    
}