<div class="jumbotron">
    <div class="alert alert-info" role="alert">
        <p>Lo sentimos, la url consultada no existe.</p>
    </div>
</div>
@code{
    protected override void OnInitialized(){
        Console.WriteLine("404: Sitio no encontrado");
    }
}